<?xml version='1.0' encoding='utf-8'?>
<widget Publisher="YOUR CN=4598A1B8-365D-4826-BDD0-0000000000000" id="com.yourdomain.yourapp" version="0.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>YOUR app display name like Ark Assist</name>
    <description>YOUR app description like An unoffical app for Ark Survival Evolved.</description>
    <author email="YOUR email like mark@buildinthecloud.com" href="YOUR URL Like http://www.buildinthecloud.com/ark-assist">YOUR email display name BuildInTheCloud</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="WindowsToastCapable" value="true" />
        <preference name="WindowsStoreIdentityName" value="YOUR 64909BuildInTheCloud.ArkAssist" />
        <preference name="WindowsStorePublisherName" value="YOUR author name like BuildInTheCloud" />
        <preference name="WindowsStoreDisplayName" value="YOUR app display name like Ark Assist" />
        <splash height="300" src="resources/windows/images/SplashScreen.scale-100.png" width="620" />
        <splash height="1920" src="resources/windows/images/SplashScreenPhone.scale-240.png" width="1152" />
        <icon height="150" src="resources/windows/images/Square150x150Logo.scale-100.png" width="150" />
        <icon height="360" src="resources/windows/images/Square150x150Logo.scale-240.png" width="360" />
        <icon height="30" src="resources/windows/images/Square30x30Logo.scale-100.png" width="30" />
        <icon height="310" src="resources/windows/images/Square310x310Logo.scale-100.png" width="310" />
        <icon height="106" src="resources/windows/images/Square44x44Logo.scale-240.png" width="106" />
        <icon height="70" src="resources/windows/images/Square70x70Logo.scale-100.png" width="70" />
        <icon height="170" src="resources/windows/images/Square71x71Logo.scale-240.png" width="170" />
        <icon height="50" src="resources/windows/images/StoreLogo.scale-100.png" width="50" />
        <icon height="120" src="resources/windows/images/StoreLogo.scale-240.png" width="120" />
        <icon height="150" src="resources/windows/images/Wide310x150Logo.scale-100.png" width="310" />
        <icon height="360" src="resources/windows/images/Wide310x150Logo.scale-240.png" width="744" />
    </platform>
    <vs:platformSpecificValues>
        <vs:platformSpecificWidget platformName="windows">
            <vs:appxPackageIsForStore>True</vs:appxPackageIsForStore>
            <vs:name>YOUR app display name like Ark Assist</vs:name>
            <vs:publisherId>YOUR CN=4598A1B8-365D-4826-BDD0-0000000000</vs:publisherId>
            <vs:author>YOUR author name like BuildInTheCloud</vs:author>
        </vs:platformSpecificWidget>
    </vs:platformSpecificValues>
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="3000" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <!-- all cordova plugins you use -->
    <plugin name="cordova-plugin-device" spec="~1.1.2" />
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-x-toast" spec="~2.5.2" />
    <plugin name="com.verso.cordova.clipboard" spec="https://github.com/VersoSolutions/CordovaClipboard.git" />
</widget>
