.cmdPage {}

.cmdPage .entity {border:2px solid;border-radius: 6px;padding:0 10px 0 0;margin-right:8px;}

.cmdPage .entity.id {border-color:green;color:green;}
.cmdPage .entity.id strong{background-color:green;color:white;margin-right:5px;padding:0 12px 0 12px;min-width:70px;float:left;}

.cmdPage .entity.stack {border-color:blue;color:blue;}
.cmdPage .entity.stack strong{background-color:blue;color:white;margin-right:5px;padding:0 12px 0 12px;min-width:70px;float:left;}

.cmdPage .entity.type {border-color:gray;color:gray;}
.cmdPage .entity.type strong{background-color:gray;color:white;margin-right:5px;padding:0 12px 0 12px;min-width:70px;float:left;}
